name: Run mega-nz.yaml for each link

on:
  workflow_dispatch:
    inputs:
      links:
        description: 'Enter links separated by commas or spaces'
        required: true
        type: string

jobs:
  run-mega-nz:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        link: ${{ fromJson('["' + join(split(replace(github.event.inputs.links, ' ', ','), ','), '","') + '"]') }}
    steps:
      - name: Call mega-nz.yaml workflow
        uses: ./.github/workflows/mega-nz.yaml
        with:
          link: ${{ matrix.link }}
